<h2> Course List </h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>Rating</th>
            <th>image</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr ngForm= 'let course of course' >
            <td>{{course.imageUrl}}</td>
            <!-- <td>{{course.name}}</td>
            <td>{{course.price}}</td>
            <td>{{course.code}}</td>
            <td>{{course.releasedDate}}</td>
            <td>{{course.Rating}}</td>
            <th>Options</th> -->

        </tr>
    </tbody>
</table>