body{
    background-color: rgb(236, 236, 236);
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/409/192/original/abstract-geometric-banner-free-vector.jpg");
    background-repeat: no-repeat;
    background-position:  top;
    background-size: 4000px; 
}

.container{
    min-height: 50px;
    min-width: 50px;
    text-align: center;
    margin: 50px auto;
}

.button{
    border-radius: 10px;
    border: 3px solid gray;
    padding: 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}